/*HEADER*/
$style: (
  color: #064d58,
  font: "Quattrocento",
);

@mixin general {
  display: flex;
  flex-direction: column;
}

#header {
  .navbar {
    background-color: #c1d2fd;
    text-transform: uppercase;
    z-index: 10;
    img {
      width: 95px;
    }
    #navbarNav {
      justify-content: center;
      font-size: 2rem;
      li {
        padding: 0px 20px;
        .nav-link {
          color: map-get($style, color);
          font-family: map-get($style, font);
        }
      }
    }
  }

  .rrss {
    @include general;
    align-items: flex-end;
    width: 10%;
    right: 0;
    top: 4px;
    padding: 0px 5px;
    position: fixed;
    z-index: 15;
    .icono {
      margin: 5px;
      z-index: 100;
    }
    .icono--ig {
      @extend .icono;
      width: 40px;
    }
    .icono--wapp {
      @extend .icono;
      width: 30px;
    }
  }
}
