/*footer*/
$style: (
  color: #98abdbf1,
  font: "Quattrocento",
);

#footer {
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: #c1d2fda4;
}
@mixin general {
  display: flex;
  flex-direction: column;
}

#footer .flex-info {
  @include general;
  display: flex;
  text-align: center;

  p {
    font-size: 15px;
  }
  .nametitta {
    font-size: 20px;
    font-family: map-get($style, font);
    color: map-get($style, color);
    margin: 0;
  }
  .copyright {
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: map-get($style, color);
    margin: 0;
  }
  .rrss {
    .icono {
      margin: 0px 40px 15px 40px;

      path {
        fill: #596b9bf1;
      }
    }
    .icono--ig {
      @extend .icono;
      width: 25px;
    }
  }
  .icono--wapp {
    @extend .icono;
    width: 26px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 575px) {
  #footer .flex-info {
    p {
      font-size: 10px;
      margin-bottom: 8px;
    }
    .nametitta {
      font-size: 15px;
    }
    .copyright {
      font-size: 6px;
    }
    .rrss {
      .icono {
        width: 15px;
        margin: 12px;
      }
    }
  }
}
