/*HEADER*/
$style: (
  color: #98abdbf1,
  font: "Quattrocento",
);

@mixin general {
  display: flex;
  flex-direction: column;
}

#header {
  .navbar {
    background-color: #c1d2fd;
    text-transform: uppercase;
    z-index: 10;
    img {
      width: 95px;
    }
    #navbarNav {
      justify-content: center;
      font-size: 2rem;
      li {
        padding: 0px 20px;
        .nav-link {
          color: map-get($style, color);
          font-family: map-get($style, font);
        }
      }
    }
  }

  .rrss {
    @include general;
    align-items: flex-end;
    width: 10%;
    right: 0;
    top: 25px;
    padding: 0px 5px;
    position: fixed;
    z-index: 15;
    .icono {
      margin: 5px;
      z-index: 100;
      path {
        fill: #596b9bf1;
      }
    }
    .icono--ig {
      @extend .icono;
      width: 21px;
    }
  }
  .icono--wapp {
    @extend .icono;
    width: 20px;
  }
}

/* vista mobile SMALL */
@media only screen and (min-width: 200px) and (max-width: 991px) {
  #header {
    .rrss {
      right: 0;
      top: 0;
      width: 100%;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      .icono {
        width: 20px;
        margin: 3;
      }
    }
    .navbar {
      img {
        width: 60px;
      }
      #navbarNav {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #header {
    .rrss {
      position: absolute;
      z-index: 10;
    }
    .navbar #navbarNav li {
      margin: 0;
      font-size: 1.65rem;
    }
  }
}
