@import "header";
@import "footer";

$style: (
  color: #748ac2f1,
  font-family: "Quattrocento",
  display: flex,
  col: column,
  padding: 2%,
  width: 100%,
  text-align: center,
  justify-content: center,
  align-items: center,
);
.textboxes {
  background: none;
  border: none;
  border-bottom: 2px solid #8dadfd80;
  color: #596b9bf1;
  font-family: "Quattrocento";
}

#all {
  margin: 0;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #c1d2fdf1, #dbe5fff1);
  color: map-get($style, color);
  font-family: map-get($style, font);
  li {
    list-style-type: none;
  }
}

/*INDEX*/
#main-index {
  margin-top: 0px;
  img {
    margin: auto;
    width: 100%;
  }
}

/*views*/
#main {
  display: map-get($style, flex);
  flex-direction: map-get($style, col);
  padding: map-get($style, padding);
  width: map-get($style, width);
  text-align: map-get($style, text-align);
  justify-content: map-get($style, justify-content);
  align-items: map-get($style, align-items);
}
.titles {
  font-size: 50px;
  text-align: center;
  margin: 1%;
  margin-bottom: 25px;
}

/*Quiénes somos*/
#main .quiesomos {
  .row {
    margin-top: 60px;
    align-items: center;
    img {
      max-width: 100%;
    }
    .texting {
      margin-top: 15px;
      p {
        font-size: 2vh;
      }
    }
  }
}

/*Preguntas frecuentes*/
#main .pregfec {
  .row {
    font-size: 20px;

    .pregunta {
      font-weight: bold;
    }
    .one {
      .qya {
        margin: auto;
        margin-bottom: 60px;
        text-align: left;
      }
    }
    .two {
      margin-top: 0;
      border-style: double;
      border-radius: 5px;
      align-items: center;
      background-color: #8dadfd34;

      .categoria {
        text-align: left;
        font-weight: bold;
      }
      .cattortas {
        margin: 5px;
      }
    }
  }
}

/*Contacto*/
#main .forms {
  width: 100%;
  margin-top: 0;
  align-items: center;
  font-size: 20px;
  .textparacontacto {
    h1 {
      font-size: 50px;
      margin-bottom: 15px;
    }
    p {
      font-size: 15px;
      margin-bottom: 15px;
    }
    .rrss {
      svg {
        width: 30px;
        margin: 20px;
        path {
          fill: #596b9bf1;
        }
      }
    }
  }
  .formularios {
    background-color: #c1d2fd80;
    padding: 25px;
    .datos,
    .info1,
    .info4,
    .info {
      margin-top: 15px;
    }
    .info4 {
      input {
        background: rgba(232, 238, 252, 0.502);
        border: 1px solid #8dadfd80;
        color: #596b9bf1;
        font-family: "Quattrocento";
        margin: 0 15px 15px 15px;
      }
    }
    .yesno {
      display: flex;
      justify-content: center;
      margin: 15px;
      gap: 30px;
    }
    .v {
      margin: auto;
      text-align: left;

      margin-top: 60px;
      width: 80%;

      .row {
        justify-content: center;
        textarea {
          height: 5em;
          resize: none;
          @extend .textboxes;
          background: rgba(232, 238, 252, 0.502);
        }
        input {
          @extend .textboxes;
        }
      }
    }
  }
}

/*Productos*/
#main {
  .productostodo {
    margin-top: 60px;
  }
  .produc {
    img {
      max-width: 100%;
    }
    .cake:hover .infoproductos {
      opacity: 1;
    }
    .cake:hover img {
      opacity: 0.5;
    }
    .cake {
      position: relative;
      text-align: center;
      color: map-get($style, color);
      font-family: map-get($style, font);
      img {
        transition: opacity 0.5s;
      }
      .infoproductos {
        transition: opacity 0.5s;
        font-family: map-get($style, font);
        color: #252e46f1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        text-transform: capitalize;
        .nombreproducto {
          font-size: 30px;
        }
        .precioproducto,
        .descripcionproducto {
          font-size: 15px;
        }
      }
    }
  }
}

@media only screen and (min-width: 550px) and (max-width: 900px) {
  #main .forms .col {
    flex: none;
  }
  #main .pregfec .row .col-sm {
    flex: none;
  }
}
@media only screen and (min-width: 200px) and (max-width: 351px) {
  #main .forms {
    .textparacontacto {
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 10px;
      }
    }
  }
  #main .pregfec {
    .row .col-5 {
      font-size: 15px;
      width: 90%;
    }
  }
  #main .forms .formularios .datos,
  .info1,
  .info4,
  .info {
    font-size: 15px;
  }
  #main .forms .formularios .v {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 575px) {
  .titles {
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
  }

  #main .quiesomos .row {
    margin-top: 0;
    .texting {
      p {
        font-size: 15px;
      }
    }
  }
  #main .pregfec {
    .two {
      width: 80%;
      margin: 50px;
    }
  }

  /*Productos*/
  #main .productostodo {
    margin-top: 0;
  }
  .produc .cake img {
    margin-bottom: 70px;
  }
  #main .produc .cake .infoproductos {
    top: 90%;
    opacity: 1;
    width: 100%;
    .nombreproducto {
      font-size: 15px;
      margin-bottom: 0;
    }
    .descripcionproducto,
    .precioproducto {
      font-size: 10px;
      margin-bottom: 0;
    }
  }
}

/* vista mobile SMALL */
@media only screen and (min-width: 250px) and (max-width: 991px) {
  #all {
    height: 100%;
  }

  #main {
    margin-top: 0px;
  }

  /*INDEX*/
  #indexmain {
    margin-top: 0;
    padding: 0;
  }
  /*CONTACT*/
  textarea {
    height: 5em;
    width: 15em;
  }
}

/* vista mobile LARGE y tablets */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #main {
    margin-top: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dbe5fff1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8dadfd80;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #748ac2f1;
}
