@charset "UTF-8";
/*HEADER*/
#header .navbar {
  background-color: #c1d2fd;
  text-transform: uppercase;
  z-index: 10;
}

#header .navbar img {
  width: 95px;
}

#header .navbar #navbarNav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
}

#header .navbar #navbarNav li {
  padding: 0px 20px;
}

#header .navbar #navbarNav li .nav-link {
  color: #98abdbf1;
  font-family: "Quattrocento";
}

/* vista mobile SMALL */
@media only screen and (min-width: 200px) and (max-width: 991px) {
  #header .rrss {
    right: 0;
    top: 0;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
  }
  #header .rrss .icono, #header #footer .flex-info .rrss .icono--ig, #footer .flex-info #header .rrss .icono--ig, #header .rrss #footer .flex-info .icono--wapp, #footer .flex-info #header .rrss .icono--wapp {
    width: 20px;
    margin: 3;
  }
  #header .navbar img {
    width: 60px;
  }
  #header .navbar #navbarNav {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #header .rrss {
    position: absolute;
    z-index: 10;
  }
  #header .navbar #navbarNav li {
    margin: 0;
    font-size: 1.65rem;
  }
}

/*footer*/
#footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: #c1d2fda4;
}

#footer .flex-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  text-align: center;
}

#footer .flex-info .nametitta {
  font-size: 20px;
  font-family: "Quattrocento";
  color: #98abdbf1;
  margin: 0;
}

#footer .flex-info .copyright {
  font-size: 8px;
  font-family: Arial, Helvetica, sans-serif;
  color: #98abdbf1;
  margin: 0;
}

#footer .flex-info .rrss .icono, #footer .flex-info .rrss .icono--ig, #footer .flex-info .rrss .icono--wapp {
  margin: 0px 40px 15px 40px;
}

#footer .flex-info .rrss .icono path, #footer .flex-info .rrss .icono--ig path, #footer .flex-info .rrss .icono--wapp path {
  fill: #596b9bf1;
}

#footer .flex-info .rrss .icono--ig {
  width: 25px;
}

#footer .flex-info .icono--wapp {
  width: 26px;
}

.textboxes, #main .forms .formularios .v .row textarea, #main .forms .formularios .v .row input {
  background: none;
  border: none;
  border-bottom: 2px solid #8dadfd80;
  color: #596b9bf1;
  font-family: "Quattrocento";
}

#all {
  margin: 0;
  width: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, left bottom, from(#c1d2fdf1), to(#dbe5fff1));
  background: linear-gradient(to bottom, #c1d2fdf1, #dbe5fff1);
  color: #748ac2f1;
}

#all li {
  list-style-type: none;
}

/*INDEX*/
#main-index {
  margin-top: 0px;
}

#main-index img {
  margin: auto;
  width: 100%;
}

/*views*/
#main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2%;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titles {
  font-size: 50px;
  text-align: center;
  margin: 1%;
  margin-bottom: 25px;
}

/*Quiénes somos*/
#main .quiesomos .row {
  margin-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .quiesomos .row img {
  max-width: 100%;
}

#main .quiesomos .row .texting {
  margin-top: 15px;
}

#main .quiesomos .row .texting p {
  font-size: 2vh;
}

/*Preguntas frecuentes*/
#main .pregfec .row {
  font-size: 20px;
}

#main .pregfec .row .pregunta {
  font-weight: bold;
}

#main .pregfec .row .one .qya {
  margin: auto;
  margin-bottom: 60px;
  text-align: left;
}

#main .pregfec .row .two {
  margin-top: 0;
  border-style: double;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8dadfd34;
}

#main .pregfec .row .two .categoria {
  text-align: left;
  font-weight: bold;
}

#main .pregfec .row .two .cattortas {
  margin: 5px;
}

/*Contacto*/
#main .forms {
  width: 100%;
  margin-top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

#main .forms .textparacontacto h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

#main .forms .textparacontacto p {
  font-size: 15px;
  margin-bottom: 15px;
}

#main .forms .textparacontacto .rrss svg {
  width: 30px;
  margin: 20px;
}

#main .forms .textparacontacto .rrss svg path {
  fill: #596b9bf1;
}

#main .forms .formularios {
  background-color: #c1d2fd80;
  padding: 25px;
}

#main .forms .formularios .datos,
#main .forms .formularios .info1,
#main .forms .formularios .info4,
#main .forms .formularios .info {
  margin-top: 15px;
}

#main .forms .formularios .info4 input {
  background: rgba(232, 238, 252, 0.502);
  border: 1px solid #8dadfd80;
  color: #596b9bf1;
  font-family: "Quattrocento";
  margin: 0 15px 15px 15px;
}

#main .forms .formularios .yesno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px;
  gap: 30px;
}

#main .forms .formularios .v {
  margin: auto;
  text-align: left;
  margin-top: 60px;
  width: 80%;
}

#main .forms .formularios .v .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .forms .formularios .v .row textarea {
  height: 5em;
  resize: none;
  background: rgba(232, 238, 252, 0.502);
}

/*Productos*/
#main .productostodo {
  margin-top: 60px;
}

#main .produc img {
  max-width: 100%;
}

#main .produc .cake:hover .infoproductos {
  opacity: 1;
}

#main .produc .cake:hover img {
  opacity: 0.5;
}

#main .produc .cake {
  position: relative;
  text-align: center;
  color: #748ac2f1;
}

#main .produc .cake img {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#main .produc .cake .infoproductos {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  color: #252e46f1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  text-transform: capitalize;
}

#main .produc .cake .infoproductos .nombreproducto {
  font-size: 30px;
}

#main .produc .cake .infoproductos .precioproducto,
#main .produc .cake .infoproductos .descripcionproducto {
  font-size: 15px;
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  #main .forms .col {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  #main .pregfec .row .col-sm {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

@media only screen and (min-width: 200px) and (max-width: 351px) {
  #main .forms .textparacontacto h1 {
    font-size: 20px;
  }
  #main .forms .textparacontacto p {
    font-size: 10px;
  }
  #main .pregfec .row .col-5 {
    font-size: 15px;
    width: 90%;
  }
  #main .forms .formularios .datos,
  .info1,
  .info4,
  .info {
    font-size: 15px;
  }
  #main .forms .formularios .v {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 575px) {
  .titles {
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
  }
  #main .quiesomos .row {
    margin-top: 0;
  }
  #main .quiesomos .row .texting p {
    font-size: 15px;
  }
  #main .pregfec .two {
    width: 80%;
    margin: 50px;
  }
}

/* vista mobile SMALL */
@media only screen and (min-width: 250px) and (max-width: 991px) {
  #all {
    height: 100%;
  }
  #main {
    margin-top: 0px;
  }
  /*INDEX*/
  #indexmain {
    margin-top: 0;
    padding: 0;
  }
  /*CONTACT*/
  textarea {
    height: 5em;
    width: 15em;
  }
}

/* vista mobile LARGE y tablets */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #main {
    margin-top: 0;
  }
}

@media only screen and (min-width: 150px) and (max-width: 575px) {
  /*Productos*/
  #main .productostodo {
    margin-top: 0;
  }
  .produc .cake img {
    margin-bottom: 98px;
  }
  #main .produc .cake .infoproductos {
    top: 93%;
    opacity: 1;
    width: 100%;
  }
  #main .produc .cake .infoproductos .nombreproducto {
    font-size: 25px;
    margin-bottom: 0;
  }
  #main .produc .cake .infoproductos .descripcionproducto,
  #main .produc .cake .infoproductos .precioproducto {
    font-size: 20px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 150px) and (max-width: 400px) {
  /*Productos*/
  .produc .cake img {
    margin-bottom: 70px;
  }
  #main .produc .cake .infoproductos {
    top: 90%;
  }
  #main .produc .cake .infoproductos .nombreproducto {
    font-size: 15px;
  }
  #main .produc .cake .infoproductos .descripcionproducto,
  #main .produc .cake .infoproductos .precioproducto {
    font-size: 10px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dbe5fff1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8dadfd80;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #748ac2f1;
}
/*# sourceMappingURL=stylesass.css.map */